.title{
    text-decoration-color: rgb(185, 127, 80);
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    background-color:rgb(187, 187, 255);
}